@import "../variables/colors.scss";
@import "./fonts.scss";

@mixin primary_button {
  @include font_basics;
  height: 2.2rem;
  border-radius: 0.1rem;
  cursor: pointer;
  text-transform: capitalize;
  background-color: $primary_font_color_light;
  color: $primary_background_color;
  border: none;

  &:hover {
    background-color: $primary_background_color;
    border: 0.1rem solid $primary_font_color_light;
    color: $primary_font_color_light;
  }
}

@mixin button_icon {
  background: none;
  border: none;

  @include font_basics;
  width: fit-content;
  cursor: pointer;
  background-color: transparent;
  color: $primary_font_color_light;

  &:hover {
    color: $secondary_background_color;
  }
}

@mixin submit_button {
  @include font_basics;
  width: 100%;
  height: 2.5rem;
  margin: 2rem auto;
  border-radius: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $secondary_background_color;
  color: $primary_font_color_light;
  border: none;

  &:hover {
    background-color: $primary_background_color;
    border: 0.2rem solid $secondary_background_color;
    color: $primary_font_color_light;
  }
}

@mixin header_button {
  @include font_basics;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  height: 3rem;
  border: none;
  border-bottom: 0.2rem solid $primary_background_color;
  background-color: $primary_font_color_light;
  color: $primary_background_color;

  &:hover {
    background-color: $primary_background_color;
    color: $primary_font_color_light;
  }
}
