<form class="search" [formGroup]="form">
  <input
    type="text"
    formControlName="title"
    (ngModelChange)="filterRecipe()"
    placeholder="Search by Title"
  />
  <input
    type="text"
    formControlName="ingredient"
    (ngModelChange)="filterRecipe()"
    placeholder="Search by Ingredient"
  />
</form>

<div *ngIf="!recipeDetails">
  <div *ngFor="let recipe of filteredRecipes$ | async">
    <app-recipe
      [recipe]="recipe"
      (displayDetails)="displayRecipeDetails($event)"
    ></app-recipe>
  </div>
</div>

<div *ngIf="recipeDetails">
  <app-details
    [recipeDetails]="recipeDetails"
    (hideDetails)="hideRecipeDetails()"
  ></app-details>
</div>
