@import "./scss/variables/colors.scss";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0 auto;
  background-color: $primary_background_color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.recipe-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  background: none;
  border-radius: 0;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
