@import "./scss/variables/colors.scss";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0 auto;
  background-color: $primary_background_color;

  //   width: 37.5rem;

  //   @media only screen and (min-width: 768px) {
  //     width: 76.8rem;
  //   }
  //   @media only screen and (min-width: 1440px) {
  //     width: 144rem;
  //   }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
