$primary_font_color_dark: #41436a;
$primary_font_color_light: #f4d0c5;

$primary_background_color: #41436a;
$secondary_background_color: #984063;

$disabled_color: #65678b;
$error_messages: #df7489;
$placeholders: #41436a;
